@font-face {
    font-family: 'Franklin Gothic Medium';
    src: url('../assets/fonts/Franklin_gothic/framd.ttf') format('truetype');
}

body { 
    background-color:rgb(40, 150, 136);
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(252, 234, 62);
    text-align: center;
    padding: 0.2em;
}

main {
    text-align: center;
}

img {
    border: 7px solid white;
}